<div class="mobile-nav">
<carousel  [interval]="3000">
    <slide>
        <img class="carousel" src="../../assets/puc.jpg" alt="gamingmazza.in">
      </slide>
    <slide>
      <img class="carousel" src="../assets/1.jpeg" alt="gamingmazza.in">
    </slide>
    <slide>
      <img class="carousel" src="../assets/11.png" alt="gamingmazza.in">
    </slide>
    <slide>
      <img class="carousel"  src="../assets/ss.jpg" alt="gamingmazza.in">
    </slide>
    
    
    
    
  </carousel>
 <hr>
 <b class="text-primary"><span class="text-danger">*</span> Don't know How to join watch now </b>
  <iframe width="100%" height="200px" src="https://www.youtube.com/embed/e8ZFomXmXoc" 
       
  allowfullscreen></iframe>
</div><br><br>
<div class="desktop-nav row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
 
  <carousel  [interval]="3000" >
    >
    <slide>
        <img class="carousel-d" src="../../assets/puc.jpg" alt="gamingmazza.in">
      </slide>
    <slide>
      <img class="carousel-d" src="../assets/1.jpeg" alt="gamingmazza.in">
    </slide>
    <slide>
      <img width="100%" height="400px" src="../assets/11.png" alt="gamingmazza.in">
    </slide>
    
    <slide>
      <img class="carousel-d"  src="../assets/ss.jpg" alt="gamingmazza.in">
    </slide>
   
    
  </carousel>
 <hr>
 <h2 class="text-success">>> Don't know How to join watch now </h2>
  <iframe width="100%" height="400px" src="https://www.youtube.com/embed/e8ZFomXmXoc"
       
  allowfullscreen></iframe>

</div>

</div>