<div class="container-fluid mm">
    <div class="row bg-blue  logo">

        <div class="col-sm-12">

            <h4 class="mt-2 text-white"><span class="bg-dark pl-2">Gaming</span><span
                    class="pr-2 text-dark bg-light">Mazza</span></h4>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 center">
            <div class="card ">
                <div class=" mt-1 text-center">
                    <b class=" text-danger">Forget / Change Password</b>
                    <hr>

                </div>
                <div class="card-body">
                    <alert type="warning" *ngIf="msg">
                        <b [innerHTML]="msg"></b>
                    </alert>
                    <input placeholder="Email id" class="form-control" [(ngModel)]="email"><br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter OTP " [(ngModel)]="otp">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" (click)="isvalidEmail()" [disabled]="!email"
                                [innerHTML]="RequestOtpBtn"></button>
                        </div>
                        
                    </div><br>

                    <input placeholder="Enter new password" class="form-control" [(ngModel)]="password">


                    <button class="btn btn-primary pull-right mt-3" (click)="changePassword()">Submit</button>
                    
                </div>
                <hr>
                <div class=" mb-3 text-center">
                <button class="btn btn-sm   rounded-btn" routerLink="/login">Back to Login</button>
                </div>
            </div>

        </div>
        <div class="col-sm-3"></div>


    </div>


</div>